<ion-content class="content">
  <strong>
    <p class="ion-text-center" color="primary">{{page().toUpperCase()}}</p>
  </strong>
  @if (page() == 'personas') {
    <app-cards 
    [title]="'Portabilidad'"
    [subtitle]="'DESDE 30% OFF x 12 MESES'"
    [contentTitle]="'Dejanos tu número y te llamamos'"
    [inputText]="true"
    [inputPlaceholder]="'Ej: 1126533009(sin 0 y sin 15)'"
    [buttonText]="'Enviar'"
    />
  
    <app-carrousel 
    [imageList]="imageList"
    />

    <app-accordion
    [isModal]="true" 
    [title]="'Información importante:'"
    [subtitle]="'Conocé lo que podés hacer online'"
    [buttonText]="'Más info'"
    [router]="'moviles'"
    [accordionContentList]="accordionInfo"
    />

    <app-accordion 
    [isModal]="false"
    [title]="'Preguntas frecuentes:'"
    [subtitle]="''"
    [buttonText]="''"
    [accordionContentList]="accordionAnswer"
    />
  }@else {
    @if(page() == 'negocios'){
      <app-accordion 
      [isModal]="false"
      [title]="'NUESTROS PRODUCTOS'"
      [accordionContentList]="bussinesAcordion"
      />
    }@else{
      <app-accordion 
      [isModal]="false"
      [title]="'NUESTROS PRODUCTOS'"
      [accordionContentList]="companyAcordion"
      />
    }
      <app-cards 
      [title]="'Portabilidad'"
      [subtitle]="'DESDE 40% OFF x 12 MESES'"
      [inputText]="false"
      [contentTitle]="'Cambiate a Claro para que tu negocio esté siempre comunicado'"
      [buttonText]="'Cambiate'"
      />

    @if (page() == 'negocios') {
      <app-carrousel 
      [imageList]="imageBussines"
      />
    }@else {
      <app-carrousel 
      [imageList]="imageCompany"
      />
    }
 
      <app-accordion 
      [isModal]="false"
      [title]="'Preguntas Frecuentes: '"
      [accordionContentList]="accordionBussinesAnswer"
      />
  }
</ion-content>