.normalModal{
    margin-top: 56px;
}

.littleModal {
    --height: 48%;
    --width: 90%;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

    ion-modal::part(backdrop) {
        background: rgba(209, 213, 219);
        opacity: 1;
    }

    ion-toolbar {
        --background: rgb(14 116 144);
        --color: white;
    }
}
  
ion-card{
    width: 90%;
    margin: 15px auto;
}

ion-icon{
    font-size: 45px;
}

ul{
    ion-icon{
        font-size: 20px;
    }
}

ion-segment{
    margin-top: 18px;
}