ion-modal{
    margin-top: 56px;
}

ion-card{
    width: 90%;
    margin: 15px auto;
}

ion-icon{
    font-size: 45px;
}

ul{
    ion-icon{
        font-size: 20px;
    }
}

ion-segment{
    margin-top: 18px;
}