<ion-modal [trigger]="modalTrigger">
  <ng-template>
    @if(whithList){
      <ion-content class="ion-padding">
        <ion-list>
          <ion-list-header class="ion-align-items-center">
            <ion-card class="ion-no-border">
              <ion-card-header>
                <ion-card-subtitle> {{titleContent}} </ion-card-subtitle>
                <ion-card-title color="primary"> {{subTitleContent}} </ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-list-header>
          @if(contentList){
            @for(item of contentList; track item){
              <ul>
                @if(icon){
                  <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
                }
                <ion-label> {{item}} </ion-label>
              </ul>
            }
          }
        </ion-list>
      </ion-content> 
      }@else{
        <ion-segment value="default" node="md">
          <ion-segment-button value="default" routerLink="moviles">
            <ion-label>Móviles</ion-label>
          </ion-segment-button>
          <ion-segment-button value="second" routerLink="hogar">
            <ion-label>Hogar</ion-label>
          </ion-segment-button>
          <ion-segment-button value="third" routerLink="debito">
            <ion-label>Débito Automático</ion-label>
          </ion-segment-button>
        </ion-segment>
        <ion-content>
          <ion-router-outlet></ion-router-outlet>
        </ion-content>
      }
    <ion-footer>
      <ion-toolbar color="primary">
        <ion-button expand="block" fill="clear" shape="round" (click)="cancel()">
          <ion-icon name="close-circle-outline" color="light"></ion-icon>
        </ion-button>
      </ion-toolbar>
    </ion-footer>
  </ng-template>
</ion-modal>
