<ion-modal [trigger]="modalTrigger">
  <ng-template>
    <ion-content class="ion-padding">
      @if(whithList){
        <ion-list>
          <ion-list-header class="ion-align-items-center">
            <ion-card class="ion-no-border">
              <ion-card-header>
                <ion-card-subtitle> {{titleContent}} </ion-card-subtitle>
                <ion-card-title color="primary"> {{subTitleContent}} </ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-list-header>
          @if(contentList){
            @for(item of contentList; track item){
              <ul>
                <ion-label>{{item}}</ion-label>
              </ul>
            }
          }
        </ion-list>
      }@else{
        <ion-segment value="default">
          <ion-segment-button value="default">
            <ion-label>Servicios Móviles</ion-label>
          </ion-segment-button >
          <ion-segment-button value="second">
            <ion-label>Servicios Hogar</ion-label>
          </ion-segment-button>
          <ion-segment-button value="third">
            <ion-label>Débito Automático</ion-label>
          </ion-segment-button>
        </ion-segment>
      }
    </ion-content>
    <ion-footer>
      <ion-toolbar color="primary">
        <ion-button expand="block" fill="clear" shape="round" (click)="cancel()">
          <ion-icon name="close-circle-outline" color="light"></ion-icon>
        </ion-button>
      </ion-toolbar>
    </ion-footer>
  </ng-template>
</ion-modal>