<div class="content">
  <div class="title">
    <ion-card-title> {{title}} </ion-card-title>
    <ion-card-subtitle> {{subtitle}} </ion-card-subtitle>
  </div>
  <div class="accordion">
    <ion-accordion-group>
      @for (item of accordionContentList; track item) {
        <ion-accordion>
          <ion-item slot="header" [color]="color" lines="none" detail>
            <ion-label [color]="titleColor">
              {{item.title || item.url}}
            </ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">{{item.content}}</div>
        </ion-accordion>
      }
    </ion-accordion-group>
  </div>
  <ion-button expand="block" fill="clear" shape="round">
    {{buttonText}}
  </ion-button>
</div>