<div class="content">
  <div class="title">
    <ion-card-title> {{title()}} </ion-card-title>
    <ion-card-subtitle> {{subtitle()}} </ion-card-subtitle>
  </div>
  <div class="accordion">
    <ion-accordion-group>
      @for (item of accordionContentList(); track item) {
        <ion-accordion>
          <ion-item slot="header" [color]="color()" lines="none" detail>
            <ion-label [color]="titleColor()">
              {{item.title || item.url}}
            </ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            {{item.content}}
            @if (item.list) {
              <h4>{{item.titleList}}</h4>
                <ul style="list-style: none;">
              @for (element of item.list; track element) {
                  <li>{{element}}</li>
              }
                </ul>
            }
          </div>
        </ion-accordion>
      }
    </ion-accordion-group>
  </div>
  @if (buttonText()) {
    <ion-button expand="block" fill="clear" shape="round" id="masInfo" [routerLink]="router()">
      {{buttonText()}}
    </ion-button>
  }
</div>
  @if(isModal()){
  <app-modal 
    [selectClass]="true"
    [whithList]="false"
    [apps]="false"
    [moreInfo]="true"
    modalTrigger="masInfo"
    titleContent="Contenido de Mas Info"
  />
  }