<ion-content [fullscreen]="true">
  <ion-item lines="none">
    <img 
    src="/assets/logos/ClaroOutline.png" 
    alt="logo"
    style="width: 60%; margin: 0 auto;"
    >  
  </ion-item>
  <form [formGroup]="form" (ngSubmit)="submit()" class="ion-margin">
    <ion-item lines="none">
      <ion-icon slot="start" name="person-outline" color="primary"></ion-icon>
      <ion-input 
      type="text" 
      label="E-mail"
      labelPlacement="floating"
      [formControl]="form.controls.email"
      />
    </ion-item>
    @if (form.controls.email.errors && form.controls.email.touched) {
      <div>
        @if (form.controls.email.errors?.['required']) {
          <ion-text color="primary" class="ion-text-center"> 
            <h5>El correo es requerido</h5>
          </ion-text>
        }
        @if (form.controls.email.errors?.['email']) {
          <ion-text color="primary" class="ion-text-center">
            <h5>Ingrese un correo valido</h5>
          </ion-text>
        }
      </div>
    }
    <ion-item lines="none" style="margin: 20px 0 20px 0;">
      <ion-icon slot="start" name="lock-closed-outline" color="primary"></ion-icon>
      <ion-input 
      [type]="type()" 
      label="Contraseña"
      labelPlacement="floating"
      [formControl]="form.controls.password"
      />
      <ion-button (click)="hideShow()" slot="end" fill="clear" shape="round">
        <ion-icon 
        slot="icon-only" 
        [name]="showHidePassword() ? 'eye-off-outline' : 'eye-outline'" 
        style="font-size: 25px;" 
        color="primary"
        />
      </ion-button>
    </ion-item>
    @if (form.controls.password.errors && form.controls.password.touched) {
      <div>
        @if (form.controls.password.errors?.['required']) {
          <ion-text color="primary" class="ion-text-center">
            <h5>La contraseña es requerida</h5>
          </ion-text>
        }
      </div>
    }
    <p class="ion-text-end" (click)="forgotPassword()">Recuperar contraseña</p>
    <ion-button 
    expand="block" 
    type="submit" 
    [disabled]="form.invalid" 
    style="width: 60%; margin: 0 auto;">
      <ion-icon slot="start" name="log-in-outline"></ion-icon>
      Ingresar
    </ion-button>
  </form>
</ion-content>