<app-header 
  [router]="'/login'"
/>
<ion-content class="content">
  @if(isFooterVisible() && isLoginPage()){
    <ion-fab slot="fixed" vertical="bottom" [horizontal]="buttonPosition()">
      <ion-fab-button>
        <ion-icon name="chevron-up-circle"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top" [class]="isDarkSelected() ? 'fab-list-dark': 'fab-list'">
        @for (page of pages; track page) {
          <ion-label color="primary"> 
            <strong>{{page.title}}</strong> 
          </ion-label>
          <ion-fab-button color="primary" [routerLink]='page.url' (click)="changeTitleIcon(page.icon)">
            <ion-icon [name]='page.icon' color="light"></ion-icon>
          </ion-fab-button>
        }
      </ion-fab-list>
    </ion-fab>
  }
    <ion-menu 
      contentId="menu-end" 
      menuId="menu-end" 
      side="end" 
      type="overlay" 
      (ionWillOpen)="onWillOpen()"
      (ionWillClose)="onWillClose()"
      (ionDidOpen)="onDidOpen()"
      (ionDidClose)="onDidClose()"
      >
      <ion-content color="primary">
        @if (page() == 'personas') {
          <app-accordion
          title="Servicios"
          [whithList]="true"
          [accordionContentList]="itemsPeoples"
          />
        }

        @if(page() == 'negocios'){
          <app-accordion
          title="Movilidad"
          [whithList]="true" 
          [accordionContentList]="itemsBussinesServices"
          />

          <app-accordion
          title="Infraestructura"
          [whithList]="true"
          [accordionContentList]="itemsInsfrasctucture" 
          />

          <app-accordion
          title="Presencia web"
          [whithList]="true"
          [accordionContentList]="itemWebPresence" 
          />

          <app-accordion
          title="IoT"
          [whithList]="true"
          [accordionContentList]="itemIot" 
          />
        }

        @if(page() == 'empresas'){

          <app-accordion
          title="Internet"
          [whithList]="true"
          [accordionContentList]="intensInternetCompany"
          />

          <app-accordion
          title="Movilidad"
          [whithList]="true"
          [accordionContentList]="itemsMobilCompay"
          />

          <app-accordion
          title="Datos"
          [whithList]="true"
          [accordionContentList]="itemsDataCompay"
          />

          <app-accordion
          title="Seguridad"
          [whithList]="true"
          [accordionContentList]="itemsSecurityCompay"
          />

          <app-accordion
          title="Voz"
          [whithList]="true"
          [accordionContentList]="itemsVoiceCompay"
          />

          <app-accordion
          title="Data Center"
          [whithList]="true"
          [accordionContentList]="itemsDataCenterCompay"
          />

          <app-accordion
          title="IoT"
          [whithList]="true"
          [accordionContentList]="itemsIotCompay"
          />
        }

        <app-accordion
        title="Adicionales"
        [whithList]="true" 
        [accordionContentList]="itemsFooter"
        />
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="menu-end" main></ion-router-outlet>
</ion-content>
@if (isFooterVisible()) {
  <app-footer />
}

<!-- Cambio del if por hidden -->
