<app-header />
  <ion-content class="content">
    <ion-fab slot="fixed" vertical="bottom" [horizontal]="buttonPosition()">
      <ion-fab-button>
        <ion-icon name="chevron-up-circle"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top" class="fab-list">
        @for (page of pages; track page) {
          <ion-label color="primary"> <strong>{{page.title}}</strong> </ion-label>
          <ion-fab-button color="primary" [routerLink]='page.url' (click)="changeTitleIcon(page.icon)">
            <ion-icon [name]='page.icon' color="light"></ion-icon>
          </ion-fab-button>
        }
      </ion-fab-list>
    </ion-fab>
    <ion-menu 
      contentId="menu-end" 
      menuId="menu-end" 
      side="end" 
      type="overlay" 
      (ionWillOpen)="onWillOpen()"
      (ionWillClose)="onWillClose()"
      (ionDidOpen)="onDidOpen()"
      (ionDidClose)="onDidClose()"
      >
      <ion-header>
        <ion-toolbar>
          @if(page() == 'personas'){
            <ion-title>Servicios</ion-title>
          }
          @if(page() == 'negocios'){
            <ion-title>Movilidad</ion-title>
          }
        </ion-toolbar>
      </ion-header>
      <ion-content>
        @if (page() == 'personas') {
          <app-items
          [items]="itemsPeoples" 
          />
        }

        @if(page() == 'negocios'){
          <app-items 
          [items]="itemsBussinesServices"
          />
          <ion-toolbar>
            <ion-title>Claro Cloud</ion-title>
          </ion-toolbar>
          <app-items
          [items]="itemsBussinesCloud" 
          />
        }

        @if(page() == 'empresas'){
          <app-items
          [items]="itemsPeoples"
          />
        }
      </ion-content>
      <ion-footer>
        <app-items 
        [items]="itemsFooter"
        />
      </ion-footer>
    </ion-menu>
    <ion-router-outlet id="menu-end" main></ion-router-outlet>
  </ion-content>
<app-footer />