.content{
    overflow: hidden;
}

.fab-list{
    margin-left: -10px;
    background: #fff; 
    border-radius: 20px; 
    padding: 0 0 10px 0;
}

.fab-list-dark{
    margin-left: -10px;
    background: #383636; 
    border-radius: 20px; 
    padding: 0 0 10px 0;
}

.ionRouter{
    margin-bottom: 65px;
}

.ionRouterHide{
    margin-bottom: 0;
}