<app-header 
  [modal]="'modal-login'"
/>
<app-modal
[subTitleContent]="'Inicia Sesión'" 
[selectClass]="false"
[moreInfo]="false"
[whithList]="false"
[apps]="true"
[modalTrigger]="'modal-login'"
/>
  <ion-content class="content">
    <ion-fab slot="fixed" vertical="bottom" [horizontal]="buttonPosition()">
      <ion-fab-button>
        <ion-icon name="chevron-up-circle"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top" class="fab-list">
        @for (page of pages; track page) {
          <ion-label color="primary"> 
            <strong>{{page.title}}</strong> 
          </ion-label>
          <ion-fab-button color="primary" [routerLink]='page.url' (click)="changeTitleIcon(page.icon)">
            <ion-icon [name]='page.icon' color="light"></ion-icon>
          </ion-fab-button>
        }
      </ion-fab-list>
    </ion-fab>
    <ion-menu 
      contentId="menu-end" 
      menuId="menu-end" 
      side="end" 
      type="overlay" 
      (ionWillOpen)="onWillOpen()"
      (ionWillClose)="onWillClose()"
      (ionDidOpen)="onDidOpen()"
      (ionDidClose)="onDidClose()"
      >
      <ion-content>
        @if (page() == 'personas') {
          <ion-toolbar>
            <ion-title>Servicios</ion-title>
          </ion-toolbar>
          <app-items
          [items]="itemsPeoples" 
          />
        }

        @if(page() == 'negocios'){
          <ion-toolbar>
            <ion-title>Movilidad</ion-title>
          </ion-toolbar>
          <app-items 
          [items]="itemsBussinesServices"
          />
          <ion-toolbar>
            <ion-title>Infraestructura</ion-title>
          </ion-toolbar>
          <app-items
          [items]="itemsInsfrasctucture" 
          />
          <ion-toolbar>
            <ion-title>Presencia web</ion-title>
          </ion-toolbar>
          <app-items
          [items]="itemWebPresence" 
          />
          <ion-toolbar>
            <ion-title>IoT</ion-title>
          </ion-toolbar>
          <app-items
          [items]="itemIot" 
          />
        }

        @if(page() == 'empresas'){
          <ion-toolbar>
            <ion-title>Internet</ion-title>
          </ion-toolbar>
          <app-items
          [items]="intensInternetCompany"
          />
          <ion-toolbar>
            <ion-title>Movilidad</ion-title>
          </ion-toolbar>
          <app-items
          [items]="itemsMobilCompay"
          />
          <ion-toolbar>
            <ion-title>Datos</ion-title>
          </ion-toolbar>
          <app-items
          [items]="itemsDataCompay"
          />
          <ion-toolbar>
            <ion-title>Seguridad</ion-title>
          </ion-toolbar>
          <app-items
          [items]="itemsSecurityCompay"
          />
          <ion-toolbar>
            <ion-title>Voz</ion-title>
          </ion-toolbar>
          <app-items
          [items]="itemsVoiceCompay"
          />
          <ion-toolbar>
            <ion-title>Data Center</ion-title>
          </ion-toolbar>
          <app-items
          [items]="itemsDataCenterCompay"
          />
          <ion-toolbar>
            <ion-title>IOT</ion-title>
          </ion-toolbar>
          <app-items
          [items]="itemsIotCompay"
          />
        }

        <ion-toolbar>
          <ion-title>Adicionales</ion-title>
        </ion-toolbar>
        <app-items 
        [items]="itemsFooter"
        />
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="menu-end" main></ion-router-outlet>
  </ion-content>
<app-footer 
[openModal]="'apps-modal'"
/>
<app-modal
[subTitleContent]="'Inicia Sesión'" 
[selectClass]="false"
[moreInfo]="false"
[whithList]="false"
[apps]="true"
[modalTrigger]="'apps-modal'"
/>