<ion-content [fullscreen]="true">
  <ion-item lines="none">
    <img 
    src="/assets/logos/ClaroOutline.png" 
    alt="logo"
    style="width: 70%; margin: 0 auto;"
    >  
  </ion-item>
  <form [formGroup]="form" class="ion-margin">
    <ion-item lines="none">
      <ion-icon slot="start" name="person-outline" color="primary"></ion-icon>
      <ion-input 
      type="text" 
      label="E-mail"
      labelPlacement="floating"
      [formControl]="form.controls.email"
      style="margin-bottom: 20px;"
      />
    </ion-item>
    @if (form.controls.email.errors && form.controls.email.touched) {
      <div>
        @if (form.controls.email.errors?.['required']) {
          <ion-text color="primary" class="ion-text-center"> 
            <h5>El correo es requerido</h5>
          </ion-text>
        }
        @if (form.controls.email.errors?.['email']) {
          <ion-text color="primary" class="ion-text-center">
            <h5>Ingrese un correo valido</h5>
          </ion-text>
        }
      </div>
    }
    <ion-button 
    expand="block" 
    type="submit" 
    [disabled]="form.invalid" 
    style="width: 60%; margin: 0 auto;">
      <ion-icon slot="start" name="log-in-outline"></ion-icon>
      Ingresar
    </ion-button>
  </form>
</ion-content>
