<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    @for (image of imageList; track image) {
      <div class="carousel-item active">
        <ion-card-title class="ion-text-center"> {{image.title}} </ion-card-title>
        <img [src]="image.url" class="d-block w-100" [alt]="image.title">
        <ion-button expand="block" node="md" shape="round">
          {{image.buttons}}
        </ion-button>
      </div>
    }
  </div>
</div>
