ion-list{
    padding: 0;
}

ion-icon{
    font-size: 25px;
    margin-right: 5px;
}

ion-menu-button{
    font-size: 16px;
    width: 103px;
}

.buttons{
    display: flex;
    justify-content: space-around;
}